<%- include('../../../public/partials/header') %>

<div id="fb-root" value="<%- fbAppID %>"></div>

<div class="row">
  <div class="column">
    <h1 class="ui dividing header">FaceBook Scraper</h1>
  </div>
</div>

<div class="scraper">
  <div class="row">
    <div class="column">
      <h2 class="ui header">Login With Your Facebook Account That's A Part Of The Groups <i class="help circle icon" data-title="Not All Groups Are The Same" data-content="Some groups require an account that's apart of the group to access the members list."></i></h2>

	<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <form class="ui form" id="groupForm">
	<div class="field">
	  <label>Facebook Group ID</label>
	  <input type="text" name="groupID" id="groupID">
	</div>

	<button class="ui button" id="groupScrape">Scrape</button>
	<a download="UID.txt" class="ui button" id="download">Download</a>
      </form>
    </div>
  </div>
</div>

<%- include('../../../public/partials/footer') %>
