<%- include('../../public/partials/header') %>

<div class="row">
  <div class="column">
    <h1 class="ui dividing header">Created by ssura</h1>
    <p>The purpose of this tool is to create laser targeted Facebook ads by scraping users ID.</p>
  </div>
</div>

<%- include('../../public/partials/footer') %>
