<head>
  <title>True Profiteers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <!-- endinject -->
</head>

<body>
  <nav class="ui stackable menu">
    <a href="/" class="item" id="homepage">Home</a>
    <a href="/scraper" class="item">Facebook Scraper</a>
  </nav>

  <div class="ui one column divided grid container">
